body {
    background-color: #f4f4f4;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

input[type="password"], input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.show-password-container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;
}

.show-password {
    cursor: pointer;
}

label {
    font-size: 16px;
}

.btn-logout {
    display: inline-block;
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.btn-logout:hover {
    background-color: yellowgreen;
    cursor: pointer;
}

.show-password {
    cursor: pointer;
}