:root{
    --primary-color: #fafafa;
    --secondary-color: #1E1F24;
    --tertiary-color: #BE3144;
}
.blackmode{
    --primary-color: #0D0C0C;
    --secondary-color: #fafafa;
    --tertiary-color: #872341;
}
*{
    font-family: "SUSE", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: 0.3s;
}
body{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
html, body{
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    padding: 0;
}
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--tertiary-color); /* Sesuaikan dengan warna background navbar Anda */
    z-index: 1000; /* Pastikan navbar berada di atas elemen lain */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan untuk efek */
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--tertiary-color); /* Sesuaikan dengan warna background footer Anda */
    z-index: 1000; /* Pastikan footer berada di atas elemen lain */
    padding: 1.5rem; /* Sesuaikan dengan kebutuhan */
    text-align: center; /* Sesuaikan dengan kebutuhan */
}
.footer div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer a{
    margin-right: 1rem;
    margin-left: 1rem;
    color: var(--primary-color);
    transition: 0.2s;
    font-size: 1rem;
}
.footer .title{
    font-size: 1.5rem;
    font-weight: 700;
    justify-content: center;
    color: var(--primary-color);
    padding-bottom: 2rem;
}
main {
    flex: 1;
    margin-top: 7rem;
    margin-bottom: 11rem;
    padding: 4rem;
    overflow: auto;
}
.form-container {
    max-width: 800px;
    margin: 20%;
    margin-top: 10%;
    padding: 20px;
    padding-bottom: 12%;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: var(--primary-color);
}
.form-container h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    color: var(--secondary-color);
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
    color: var(--secondary-color);
}
.form-group input, .form-group select {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-group button {
    width: 100%;
    padding: 15px;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}
.form-group button:hover {
    background-color: var(--tertiary-color);
}
.membership-details img {
    width: 100%;
    max-width: 200px;
    margin-bottom: 20px;
}
.membership-details {
    text-align: center;
    margin-bottom: 20px;
}
.membership-details p {
    font-size: 20px;
    color: var(--secondary-color);
}
.btn {
    background-color: var(--tertiary-color);
    padding: 10px 10px;
    color: var(--primary-color);
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
}
.btn .sign-in {
    width: 5rem;

}
.btn:hover {
    background-color: var(--secondary-color);
}
.form-group input::placeholder {
    color: #999;
}
.header-summary {
    text-align: center;
    margin-top: 20px;
    color: #333;
}
.header-summary h1 {
    color: var(--secondary-color);
    font-size: 36px;
}
.header-summary p {
    font-size: 18px;
    margin: 10px 0;
}
.order-details {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
}
.order-details div {
    margin-bottom: 15px;
}
.order-details p {
    margin: 5px 0;
    font-size: 16px;
}
.key {
    font-weight: bold;
    color: #555;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: var(--tertiary-color);
    padding: 1.5rem 7rem;
    position: fixed;
    width: 100%;
    align-items: center;
    transition: top 0.3s;
    scroll-behavior: smooth;
}
nav i{
    display: flex;
    font-size: 1rem;
    color: var(--primary-color);
    cursor: pointer;
}
.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
  }

.title{
    font-size: 1.5rem;
    font-weight: 700;
    gap: 1.5rem;
    color: var(--primary-color);
}
nav .icons{
    display: flex;
    gap: 1rem;
}
nav .burger{
    display: none;
}
nav .btn{
    display: flex;
    width: 100%;
    color: var(--secondary-color);
    font-size: 1rem;
    background-color: var(--tertiary-color);
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: 1s;
}
nav .btn a{
    color: var(--primary-color);
    text-decoration: none;
}
nav .btn:hover a{
    font-weight: 700;
    color: var(--primary-color);
    transition: 0.2s;
}
nav div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.nav-links a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-color);
    transition: 0.2s;
}
.nav-links a:hover{
    font-weight: 700;
    color: var(--primary-color);
    transition: 0.2s;
}
.header{
    margin-top: 6rem;
    padding-top: 12%;
    padding-bottom: 29.6%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Media/gigabg.png);
    background-repeat: no-repeat ;
    background-attachment: fixed;    
    background-size: cover;
}
.header .header-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header h1{
    font-size: 3rem;
}
.main{
    background-color: var(--primary-color);
    padding-bottom: 3rem;
}
#membership{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    padding-top: 3rem;
}
#membership .membership-items{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}
#membership .membership-items ul{
    list-style-type: none;
    color: var(--secondary-color);
    margin: 1rem;
}
#membership .membership-item{   
    background-color: var(--primary-color);
    padding: 2rem;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border: 0.5px solid var(--secondary-color);
}
#membership h2{
    display: flex;
    font-size: 10rem;
    font-weight: 700;
    color: var(--tertiary-color);
    justify-content: center;
}
#membership .membership-item img{
    display: flex;
    justify-content: center;
    width: 15rem;
    height: 15rem;
    margin-bottom: 1rem;
    object-fit: cover;
    background-color: #F0F0F0;
}
#membership .centang{
    list-style-type: "✅";
}
#membership .silang{
    list-style-type: "❌";
}
#membership .btn a{
    color: var(--primary-color);
    text-decoration: none;
}
#membership .btn{
    width: 100%;
    margin: 1em auto 0 auto;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    font-size: 1.3em;
    padding: 0.5em 1em;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0 5px var(--tertiary-color);
    border: 0.1em solid var(--tertiary-color);
    cursor: pointer;
    transition: 1s;
}
#membership .btn:hover a{
    color: var(--tertiary-color);
    transition: 0.3s;
}
#membership .btn:hover{
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    transition: 0.3s;
}
#membership .membership-item h3{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--secondary-color);
}
#membership .membership-item h4{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--tertiary-color);
    margin-bottom: 2rem;
}
#classes .classes-items{
    display: flex;
    justify-content: space-between;
    margin-left: 10rem;
    margin-right: 10rem;
}
#classes h2{
    display: flex;
    font-size: 10rem;
    font-weight: 700;
    color: var(--tertiary-color);
    justify-content: center;
}
#classes .classes-item{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 30rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--secondary-color);
    align-items: center;
}
#classes .classes-item p{
    text-align: center; 
    font-size: 1.25rem;
}
#classes .classes-item img{
    width: 100%;
    height: 20rem;
    margin-bottom: 1rem;
    object-fit: cover;
    background-color: var(--primary-color);
}
#classes .centang{
    list-style-type: "✅";
}
#classes .silang{
    list-style-type: "❌";
}
#classes .btn a{
    color: var(--primary-color);
    text-decoration: none;
}
#classes .btn{
    width: 100%;
    margin: 1em auto 0 auto;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    font-size: 1.3em;
    padding: 0.5em 1em;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0 5px var(--tertiary-color);
    border: 0.1em solid var(--tertiary-color);
    cursor: pointer;
    transition: 1s;
}
#classes .btn:hover a{
    color: var(--tertiary-color);
    transition: 0.3s;
}
#classes .btn:hover{
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    transition: 0.3s;
}
#classes .classes-item h3{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--secondary-color);
}
#classes .classes-item h4{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--tertiary-color);
    margin-bottom: 2rem;
}
.border-text {
    font-size: 8rem;
    font-weight: bold;
    color: var(--tertiary-color);
    -webkit-text-stroke: 2px var(--secondary-color);
    text-align: center;
    transition: color 0.3s ease, -webkit-text-stroke-color 0.3s ease;
    padding: 5rem;
}
.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    padding: 7rem;
    padding-bottom: 13rem;
    gap: 3rem;
}
.about-image img {
    width: 15rem;
    border-radius: 8px;
    display: flex;
}
.about-text {
    color: var(--secondary-color);
}
.about-text h1 {
    margin-bottom: 10px;
}
.about-text p {
    margin-bottom: 15px;
    line-height: 1.6;
}
html {
    font-size: 14px;
}
.burger {
    display: none;
}
.nav-links a {
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--primary-color);
}
.nav-links.active {
    display: flex;
}
.nav-links a {
    font-size: 0.9rem;
}
.header .header-text h1 {
    font-size: 2rem;
}

.data-pelanggan-section {
  padding: 20px;
  background-color: #f7f7f7;
}

.data-pelanggan-title {
  text-align: center;
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}

button.tambah,
button.back {
  padding: 10px 20px;
  background-color: #4CAF50;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

button.back {
  background-color: #f44336;
}

button.tambah p,
button.back p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

button.tambah:hover,
button.back:hover {
  opacity: 0.8;
}


.table-pelanggan {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table-pelanggan-header {
  background-color: var(--tertiary-color);
  color: white;
  padding: 10px;
  text-align: left;
}

.table-pelanggan-row:nth-child(even) {
  background-color: #f2f2f2;
}

.table-pelanggan-row:hover {
  background-color: #ddd;
}

.table-pelanggan-data {
  padding: 10px;
  border: 1px solid #ddd;
}

.img-container {
    padding: 10px;
    border: 1px solid #ddd;
    width: 150px;
    height: 150px;
    overflow: hidden;
}
.img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.button-UD {
  display: flex;
  gap: 10px;
}

button.edit-data,
button.hapus-data {
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.edit-data {
  background-color: #ffc107;
}

button.hapus-data {
  background-color: #f44336;
}

button.edit-data i,
button.hapus-data i {
  font-size: 14px;
}

button.edit-data:hover,
button.hapus-data:hover {
  opacity: 0.8;
}
.search-bar-pelanggan {
margin-right: auto;
margin-left: auto;
display: flex;
border: 5px solid var(--tertiary-color);
width: fit-content;
border-radius: 25px;
}

.search-input-pelanggan {
border: 0;
border-top-left-radius: 25px;
border-bottom-left-radius: 25px;
height: 40px;
width: 500px;
padding-left: 20px;
padding-right: 20px;
font-size: 20px;
outline: none;
}

.search-button-pelanggan {
border: 0;
border-top-right-radius: 25px;
border-bottom-right-radius: 25px;
background-color: white;
width: 50px;
outline: none;
}

@media only screen and (min-width: 1040px){
    #classes .classes-items{
        margin-left: 15rem;
        margin-right: 15rem;
    }
}
@media only screen and (max-width: 900px) {
    html {
        font-size: 14px;
    }
    .header{
        align-items: center;
        justify-content: center;
    }
    .header .header-text h1 {
        color: var(--tertiary-color);
        font-size: 2rem;
        margin: 0%;
    }
    .header .header-text p {
        color: var(--tertiary-color);
        font-size: 1rem;
        margin: 0%;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 5rem;
        left: 0;
        width: 100%;
        background-color: var(--tertiary-color);
        align-items: center;
    }
    nav .burger {
        display: flex;
    }
    .border-text{
        font-size: 4rem;
    }
    .burger i {
        font-size: 2rem;
        color: var(--primary-color);
    }
    .nav-links {
        display: none;
        flex-direction: column;
        transition: all 0.3s ease;
    }
    .nav-links.active {
        display: flex;
        top: 5rem;
    }
    .burger i {
        font-size: 2rem;
        cursor: pointer;
        color: var(--primary-color);
    }
    #membership .membership-items,
    #classes .classes-items {
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    #classes .classes-item{
        margin: 2rem;
    }
    .about-container {
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 600px) {
    html {
        font-size: 12px;
    }
    .header .header-text{
        margin: 0;
        align-items: center;
        justify-content: center;
    }
    .header .header-text h1 {
        font-size: 1.5rem;
    }
    .nav-links a {
        font-size: 0.875rem;
    }
    #membership .membership-items,
    #classes .classes-items {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    #classes .classes-item{
        margin: 1rem;
    }
}
@media only screen and (max-width: 320px) {
    html {
        font-size: 10px;
    }
    .header .header-text h1 {
        font-size: 1.25rem;
    }
    .nav-links a {
        font-size: 0.75rem;
    }
    #membership .membership-items,
    #classes .classes-items {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    #classes .classes-item{
        margin: 0.5rem;
    }
}

@media (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 5rem;
      left: 0;
      width: 100%;
      background-color: var(--tertiary-color);
      align-items: center;

    .nav-links.active {
      display: flex;
    }

    .burger {
      display: block;
    }
  }
}

@media (max-width: 900px) {
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 5rem;
      left: 0;
      width: 100%;
      background-color: var(--tertiary-color);
      align-items: center;

    .nav-links.active {
      display: flex;
    }

    .burger {
      display: block;
    }
  }
}